{% extends 'base.html' %}

{% block content %}

    <h2>Set new Password</h2>
    {% if validlink %}
        <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>


        </form>
    {% else %}
        <p style="color: red"> Invalid token.</p>
        <p>
            <a href="{% url 'password_reset' %}">Request a new password reset token</a>
        </p>
    {% endif %}
{% endblock %}