{% extends 'base.html' %}

{% block content %}

    <h2>Change Password</h2>
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log in</button>


    </form>

{% endblock %}