{% extends 'base.html' %}

{% block content %}

    <h2>Change Password</h2>
    <p style="color: green">Password Changed succesfully</p>
    <button type="submit">Log in</button>


    </form>

{% endblock %}