<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
    </title>
</head>
<body>

    <h1>My Site</h1>
    <a href="{% url 'index'  %}">Home</a>/
    {% if user.is_authenticated %}

        <a href="{% url 'password_change'  %}">Change Password</a>/
        <a href="{% url 'logout'  %}">Log out</a>/
        <strong> You are logged in as {{ user }}</strong>

    {% else %}
        <a href="{% url 'signup'  %}">Sign up</a>/
        <a href="{% url 'login'  %}">Log in</a>/
    {% endif %}

    <hr>
    {% block content %}

    {% endblock %}

</body>
</html>